Import python helpers

In [ ]:
import pandas as pd

1.1 Import datafile

In [ ]:
df = pd.read_csv("TSLA.csv")
print(df.describe())

       Close Price  Open Price  High Price   Low Price
count   503.000000  503.000000  503.000000  503.000000
mean    291.988330  291.888469  297.229940  286.287575
std      43.789555   43.758961   44.633081   42.947925
min     178.970000  181.100000  186.680000  176.990000
25%     257.835000  257.615000  262.125000  252.175000
50%     299.920000  300.370000  305.960000  293.680000
75%     326.130000  325.105000  332.555000  319.790000
max     379.570000  375.000000  387.460000  367.120000

1.2 Last 90 days

In [ ]:
df90 = df[:90]
df90_des = df90.describe()
print("Max = ",df90_des["Close Price"][7], "Min = ",df90_des["Close Price"][3], "Mean = ", df90_des["Close Price"][1])

Max =  299.68 Min =  211.4 Mean =  237.01055555555556

1.3 Datatype Change

In [ ]:
print(df["Date"][0], df["Date"][502], df["Date"][0]-df["Date"][502])

2019-10-24 00:00:00 2017-10-25 00:00:00 729 days 00:00:00

1.4 Monthwise

In [ ]:
df['month_year'] = pd.to_datetime(df['Date']).dt.to_period('M')
df['Total Traded Quantity'] = df['Total Traded Quantity'].str.rstrip('M')
df['Total Traded Quantity']= pd.to_numeric(df['Total Traded Quantity'])
df['Total Traded Quantity'] = df['Total Traded Quantity']*1000000
df["Total Price"] = df["Close Price"]*df["Total Traded Quantity"]

sum_price = df.groupby(df['month_year'])['Total Price'].sum()
sum_volume = df.groupby(df['month_year'])['Total Traded Quantity'].sum()

VWAP_month = sum_price/sum_volume
print(VWAP_month)

month_year
2017-10    325.012347
2017-11    309.500577
2017-12    324.671030
2018-01    338.192926
2018-02    333.128621
2018-03    305.362653
2018-04    288.258470
2018-05    289.492634
2018-06    337.848719
2018-07    313.085949
2018-08    338.429717
2018-09    283.920060
2018-10    290.774345
2018-11    345.132018
2018-12    343.673861
2019-01    312.929452
2019-02    307.989824
2019-03    278.525216
2019-04    262.122016
2019-05    217.257468
2019-06    211.260398
2019-07    241.165854
2019-08    224.566217
2019-09    237.005077
2019-10    256.960142
Freq: M, dtype: float64

1.5

In [ ]:
def avg_N(N):
  df_N=df[0:N]
  t=df_90.describe()
  print("Avg :", t["Close Price"][1])

def profit_loss(N):
  pl=list(df['Close Price'])
  return ((pl[0]-pl[N-1]) / pl[N-1])*100

1.6 %

In [ ]:
df_temp = df["Close Price"]
df_temp = df_temp[::-1]
df_temp = df_temp.pct_change().fillna(0)
df_temp = df_temp[::-1]
print(df_temp)
df["Day_Perc_Change"] = df_temp*100
df.head()

0      0.176692
1     -0.003521
2      0.008205
3     -0.013427
4     -0.019162
         ...
498    0.035772
499   -0.002462
500   -0.016249
501    0.001013
502    0.000000
Name: Close Price, Length: 503, dtype: float64

        Date  Close Price  Open Price  ...  month_year   Total Price  Day_Perc_Change
0 2019-10-24       299.68      298.97  ...     2019-10  8.936458e+09        17.669232
1 2019-10-23       254.68      254.50  ...     2019-10  2.857510e+09        -0.352140
2 2019-10-22       255.58      254.32  ...     2019-10  1.183335e+09         0.820513
3 2019-10-21       253.50      258.33  ...     2019-10  1.295385e+09        -1.342674
4 2019-10-18       256.95      260.70  ...     2019-10  1.477462e+09        -1.916250

[5 rows x 9 columns]

1.7 Trends

In [ ]:
def tr(x):
  if(x>7):
    return("Bull run")
  elif(x>3):
    return("Among top gainers")
  elif(x>1):
    return("Positive")
  elif(x>0.5):
    return("Slight Positive")
  elif(x>-0.5):
    return("Slight or No change")
  elif(x>-1):
    return("Slight negative")
  elif(x>-3):
    return("Negative")
  elif(x>-7):
    return("Among top losers")
  else:
    return("Bear drop")
df['Trend'] = df['Day_Perc_Change'].apply(lambda x: tr(x))

print(df['Trend'][150])

Among top losers

1.8

In [ ]:
sum_trend_price_median = df.groupby(df['Trend'])['Total Traded Quantity'].median()
sum_trend_price_mean = df.groupby(df['Trend'])['Total Traded Quantity'].mean()
print(sum_trend_price_median)
print(sum_trend_price_mean)

Trend
Among top gainers       9900000.0
Among top losers        9970000.0
Bear drop              18450000.0
Bull run               19900000.0
Negative                7000000.0
Positive                6840000.0
Slight Positive         6570000.0
Slight negative         5840000.0
Slight or No change     6190000.0
Name: Total Traded Quantity, dtype: float64
Trend
Among top gainers      1.100100e+07
Among top losers       1.125907e+07
Bear drop              1.839286e+07
Bull run               2.004364e+07
Negative               7.830693e+06
Positive               7.134673e+06
Slight Positive        7.209688e+06
Slight negative        6.668293e+06
Slight or No change    6.793011e+06
Name: Total Traded Quantity, dtype: float64

1.9

In [ ]:
df.to_csv('TSLA_week1_dif.csv')